.App {
  text-align: center;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  height: 100vh;
  width: 100%;
  max-width: 100%;
  color: red;
}

pre {
  margin: 0;
  width: 100%;
  max-width: 100%;
  overflow-y: hidden;
}
